NODE_ENV=production
PORT={{ app_port }}
JAWSDB_URL=mysql://{{ app_db_user }}:{{ vault_epicbook_db_password }}@{{ app_db_host | default('127.0.0.1') }}:3306/{{ app_db_name }}
EPICBOOK_SESSION_SECRET={{ vault_epicbook_session_secret }}
EPICBOOK_DB_TLS={{ 'true' if app_managed_db | default(false) else 'false' }}
PM2_HOME=/run/epicbook-pm2
